
<div class="quizz-container">
    <div class="quizz-logo">
        <img src="assets/imgs/caveira1.png" alt="">
        <h3>{{title}}</h3>

    </div>
    <div *ngIf=!finished class="quizz-questions">
        <h3>{{questionSelected.question}}</h3>

    </div>
    <div *ngIf=!finished class="quizz-options">
        <button
        *ngFor="let option of questionSelected.options"
        (click)=" playerChoose(option.alias )"
        class="btn-option">
            {{option.name}}
        </button>

    </div>
    <div *ngIf=finished class="quizz-results" >
        <img *ngIf="antiHeroi" src="https://img.quizur.com/f/img634c3ec437a5d0.25764298.jpg?lastEdited=1665941192" alt="">

        <img *ngIf="heroi" src="https://lumiere-a.akamaihd.net/v1/images/captain_america_civilwar_d06ec1ff.jpeg?region=0,16,550,310" alt="">

        <img *ngIf="vilao" src="https://lumiere-a.akamaihd.net/v1/images/thanos_avengers_marvel_68fbb875.jpeg?region=0,0,1280,720&width=768" alt="">

        <h1>Seu resultado é:</h1>
        <a  href=""> << VOLTAR </a>
        <p>{{ answersSelected }}</p>
       

    </div>
</div>
